.clients-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: var(--primary-text-color);
}
.clients-list {
  display: flex;
  gap: 30px;
  margin-top: 50px;
}

.clients-link {
  color: var(--primary-icon-color);
  display: flex;
  border: 1px solid var(--primary-icon-color);
  border-radius: 4px;
  width: 170px;
  height: 92px;
  align-items: center;
  justify-content: center;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    border: 1px solid var(--accent-color);
    color: var(--accent-color);
  }
}

.client-icon {
  width: 106px;
  height: 60px;
  fill: var(--primary-icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .clients-link:hover &,
  .clients-link:focus & {
    fill: var(--accent-color);
  }
}
