@media screen and (min-width: 1200px) {
  .feature {
    padding-bottom: 0;
  }
}
.feature__list {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.4;
  color: var(--primary-text-color);
  @media screen and (min-width: 768px) {
    & {
      display: flex;
      gap: 30px;
      flex-wrap: wrap;
    }
  }
}
.feature__item {
  width: 450px;
  height: 226px;
  margin-bottom: 30px;

  @media screen and (min-width: 768px) {
    & {
      width: 354px;
      height: 224px;
    }
  }
  @media screen and (min-width: 1200px) {
    & {
      width: 270px;
    }
  }
  @media screen and (max-width: 767px) {
    & {
      margin-bottom: 30px;
    }
  }
}
.feature__wrapper {
  width: 100%;
  height: 120px;
  background-color: #f5f4fa;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  margin-bottom: 30px;
}

.feature__icon {
  width: 70px;
  height: 70px;
}

.feature__title {
  margin-bottom: 10px;
}

.feature__text {
  color: var(--title-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
