.menu-toggle {
  margin-left: auto;
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;
  padding: 48px 40px;

  background-color: #fff;
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;

  &.is-open {
    transform: translateX(0);
  }
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #212121;
}

.mobile-menu {
  margin-bottom: auto;
}
.mobile-menu__item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}
.mobile-menu__link {
  text-decoration: none;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 40px;
  line-height: calc(47 / 40);
  letter-spacing: 0.02em;
  &.accent {
    color: #2196f3;
  }
}
.menu-toggle__icon {
  &:hover {
    fill: var(--accent-color);
  }
}
.mobile-contacts {
  align-items: flex-end;
  margin-bottom: 64px;
}
.mobile-contacts__item {
  font-weight: 500;
  font-size: 24px;
  line-height: calc(28 / 24);
  letter-spacing: 0.02em;
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}
.mobile-comtacts__link {
  color: var(--title-text-color);
}
.current {
  font-weight: 500;
  font-size: 34px;
  line-height: calc(40 / 34);
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
.mobile-socials {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.mobile-socials__link {
  color: var(--accent-color);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  .mobile-socials__item:not(:last-child) & {
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
}
