.project__list {
  margin-top: 34px;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
.project__item {
  width: 370px;
}
.project__link {
  text-decoration: none;
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.project__wrapper {
  position: relative;
  overflow: hidden;
}
.project__img {
  display: block;
}

.project__owerlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 63px 24px;
  .project__link:hover &,
  .project__link:focus & {
    transform: translateY(0%);
  }
}
.owerlay__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: var(--light-text-color);
}

.project__content {
  border-bottom: 1px solid #ececec;
  border-left: 1px solid #ececec;
  border-right: 1px solid #ececec;
  padding: 20px 24px;
}
.project__title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project__text {
  color: var(--title-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  margin-top: 4px;
}
